body {
  background-color: steelblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  height: 60px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: steelblue;
  color: black;
}

/* .section-1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
} */

/* article {
  display: flex;
  flex-flow: row wrap;
} */

section {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 25px;

}

.card-container {
  display: flex;
}

.card img {
  height: 400px;
}
